# Hourly execution of packet capture or 15 seconds after a reboot
0 * * * * /root/packetCapture/capturePackets.bash &2>/dev/null
@reboot sleep 15 /root/packetCapture/capturePackets.bash &2>/dev/null

# 6am daily packaging of packets
00 06 * * * /root/packetCapture/packagePackets.bash &2>/dev/null
