# An example crontab with entries to (re)launch packet capture every hour,
# and package into a tarball daily at 6am.

# Hourly execution of  traffic capture
0 * * * * /root/rootScripts/capturePackets.bash &2>/dev/null

# 6am
00 06 * * * /root/rootScripts/compactTrafficLogs.bash &2>/dev/null
@reboot sleep 15 /root/rootScripts/capturePackets.bash &2>/dev/null
